

<form (ngSubmit)="onSubmit()">
<label for="devicename">Nom du périphérique virtuel : </label>
<input type="text" id="devicename" name="test" [(ngModel)]="devicename">
<input type="submit" value="Créer">
</form>
<label for="device_selection">Choix du périphérique : </label>
<select (input)="select($event)">
    <option id="device_selection" *ngFor="let device of available_devices | keyvalue" [value]="device.key">{{device.key}}</option>
</select>

<div class="grid">
    <div class="button" *ngFor="let bt of array()"></div>
</div>
